MDE-Tagging.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "interval": 20,
                    "frequency": "Minute",
                    "timeZone": "India Standard Time"
                },
                "evaluatedRecurrence": {
                    "interval": 20,
                    "frequency": "Minute",
                    "timeZone": "India Standard Time"
                },
                "type": "Recurrence"
            }
        },
        "actions": {
            "HTTP-_MDE_API": {
                "runAfter": {
                    "Initialize_variables": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://api.security.microsoft.com/api/machines",
                    "method": "GET",
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://api.securitycenter.microsoft.com"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Initialize_variables": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "lastWindowStart",
                            "type": "string",
                            "value": "@{addMinutes(utcNow(), -999)}"
                        }
                    ]
                }
            },
            "Parse_JSON": {
                "runAfter": {
                    "HTTP-_MDE_API": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP-_MDE_API')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string"
                            },
                            "required": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "properties": {
                                "type": "object",
                                "properties": {
                                    "@@odata.context": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "value": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string"
                                            },
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "required": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "additionalProperties": {
                                                        "type": "boolean"
                                                    },
                                                    "properties": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "computerDnsName": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "firstSeen": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "format": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "lastSeen": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "format": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "osPlatform": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "machineTags": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "vmMetadata": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string"
                                                                    },
                                                                    "additionalProperties": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "properties": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "vmId": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "type": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            },
                                                                            "cloudProvider": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "type": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            },
                                                                            "resourceId": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "type": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            },
                                                                            "subscriptionId": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "type": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Filter_array": {
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Query",
                "inputs": {
                    "from": "@body('Parse_JSON')?['value']",
                    "where": "@greaterOrEquals(ticks(item()?['firstSeen']), ticks(variables('lastWindowStart')))\n"
                }
            },
            "For_each": {
                "foreach": "@body('Filter_array')",
                "actions": {
                    "Compose_Tag": {
                        "type": "Compose",
                        "inputs": "Shell-Tag"
                    },
                    "HTTP-Add_Tag": {
                        "runAfter": {
                            "Compose_Tag": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "@{concat('https://api.securitycenter.microsoft.com/api/machines/', item()?['id'], '/tags')}\n",
                            "method": "POST",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "Value": "@{outputs('Compose_Tag')}",
                                "Action": "Add"
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://api.securitycenter.microsoft.com"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Filter_array": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {}
        }
    }
}